@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    padding:0px;
    margin:0px; 
    background-color:#fff;
}

@import './blocks/promo.scss';
@import './blocks/slider.scss';
@import './blocks/hamburger.scss';
@import './blocks/model';
@import './blocks/product.scss';
@import './blocks/news';
@import './blocks/newSlider';
@import './blocks/partner';
@import './blocks/contacts';
@import './blocks/footer';
@import './blocks/animation';
@import './blocks/media';
