.hamburger {
    position: relative;
    display: block;
    top: 0;
    right: -100px;
    z-index: 1000;
    cursor: pointer;
    width: 50px;
    height: 25px;
    // -webkit-box-shadow: 4px 4px 8px 19px rgba(213, 220, 225, 0.2);
    // -moz-box-shadow: 4px 4px 8px 19px rgba(213, 220, 225, 0.2);
    // box-shadow: 4px 4px 8px 19px rgba(255, 255, 255, 0.383);
    &_product {
        position: absolute;
        right: 100px;
        top: 40px;
    }
    
    &__link {
        display: block;
        width: 53px;
        height: 24px;
        
    }
    .spanProduct {
        background: #fff;
        
    }
    .spanNews {
        background: #7A0F1D;
    }
    span {
        position: absolute;
        background: black;
        height: 3px;
        width: 50px;
        &:nth-child(1) {
            margin-top: 20px;
            width: 40px;
        }
        &:nth-child(2) {
            margin-top: 10px;
            
        }
        &:nth-child(3) {
            width: 40px;
        }
    }
}

