.hamburger-page {
    // position: relative;
    // display: block;
    // overflow: auto;
    width: 100%;
    height: 100vh;
    padding: 1em;
    &__wrapper {
        // position: relative;
        height: 100%;
        width: auto;
        .close {
            position: absolute;
            color: #A22324;
            z-index: 100;
            text-decoration: none;
            right: 3%;
            top: 1em;
        }
    }
    .hamburger-page-header {
        display: flex;
        justify-content: space-around;
        &__logo {
            display: flex;
            align-items: center;
            margin-right: 115px;
        }
        &__logo-img {
            width: 120px;
            height: 113px;
            margin-right: 19px;
        }
        &__logo-text {
            width: 167px;
            height: 87px;
            font-size: 24px;
            color: #A22324;
            margin: 0;
            font-weight: 700;
            
        }
        &__elements {
            display: flex;
            position: relative;
            align-items: center;
        }
        &__poisk {
            position: relative;
            width: 60px;
            height: 60px;
            margin-right: 45px;
            &:hover {
                &::before {
                    content: '';
                    position: absolute;
                    z-index: 0;
                    top: 0;
                    left: 0;
                    width: 60px;
                    height: 60px;
                    border: 1px solid #A22324;
                    transform: rotate(-45deg);
                }
            }
            img {
                position: absolute;
                padding: 15px;
                top: 0;
                left: 0;
                width: 60px;
                height: 60px;
            }
        }
        &__glasses {
            position: relative;
            padding: 15px;
            width: 60px;
            height:60px;
            margin-right: 45px;
            &:hover {
                &::before {
                    content: '';
                    position: absolute;
                    z-index: 0;
                    top: 0;
                    left: 0;
                    width: 60px;
                    height: 60px;
                    border: 1px solid #A22324;
                    transform: rotate(-45deg);
                }
            }
            img {
                position: absolute;
                padding: 0px;
                top: 0;
                left: 0;
                width: 60px;
                height: 60px;
            }
        }
        &__languages {
            position: relative;
            li {
                list-style-type: none;
            }
            .block{
                position: relative;
                left: 0px;
                top: -180px;
                transition: .5s;
                z-index: 10;
                a {
                    text-decoration: none;
                    color: #000000;
                }
                &::before {
                    content: '';
                    position: absolute;
                    z-index: -1;
                    width: 60px;
                    height: 210px;
                    top: -100px;
                    left: -18px;
                    background: rgb(202, 199, 199);
                }
            }
            .block.active {
                position: relative;
                left: 0px;
                top: 45px;
                z-index: 6;
            }
            .link {
                display: block;
                position: absolute;
                text-decoration: none;
                color: #000000;
                font-weight: 700;
                top: 45px;
                z-index: 9;
            } 
        }
        
    }
    .hamburger-page-list {
        display: flex;
        margin-top: 90px;
        .title-litle {
            color: #000000;
            font-size: 24px;
            font-weight: 700;
        }
        ul {
            list-style: none;
            margin: 10px;
        }
        li {
            margin-bottom: 10px;
        }
        a {
            display: block;
            color: #000000;
            text-decoration: none;
            &:hover {
                color: #A22324;

            }
        }
        &__1, &__2, &__3 {
            width: 100%;
            margin: 10px;
            span {
                font-weight: 700;
                font-size: 24px;
                
            }
        }
    }
    .hamburger-page-footer {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        &__blockItem {
            position: absolute;
            display: flex;
            flex-direction: column;
            background: #dadada;
            padding-left: 50px;
            width: 600px;
            height: 250px;
            top: 3em;
            right: 0;
            .footer__icon .socialIcon {
                background: #dadada;
            }
        }
        &__contact {
            margin-top: 40px;
            margin-bottom: 60px;
            color: #000000;
            font-size: 18px;
            span {
                font-size: 20px;
                font-weight: 700;
            }
        }
        &__item {
            position: absolute;
            top: 17em;
        }
        &__btn {
            position: absolute;
            top: 55px;
            right: 50px;
        }
        &__icon {
            display: flex;
            background: #EBD0D4;
            width: 60px;
            height: 60px;
            position: relative;
            top: -20px;
            img {
                position: relative;
                z-index: 5;
                padding: 20px;
                width: 60px;
                height: 60px;
                
                &:hover {
                    transform: scale(1.5);
                }
                
            }
            .socialIcon {
                position: relative;
                background: #EBD0D4;
                margin-right: 10px;
                
                &:hover {
                    // background: #EBD0D4 ;
                    &::before {
                        content: '';
                        position: absolute;
                        z-index: 1;
                        top: 0;
                        left: 0;
                        width: 60px;
                        height: 60px;
                        border: 1px solid #A22324;
                        transform: rotate(-45deg);
                    }
                }
            }
        }
        &__download {
            width: 180px;
            height: 40px;
            border:1px solid #991426;
            font-weight: bold;
        }
    }
}
