@media (max-width:1900px) {
    .promo {
        .header {
            
            margin-top: 30px;
            width: 100%;
            justify-content: space-around;
            z-index: 2;
            &__logo {
                margin-right: 0;
                padding: 5px;
            }
            &__logo-img {
                width: 100%;
                height: 100%;
                margin-right: 0;
            }
            &__logo-text {
                width: 100%;
                height: 100%;
                font-size: 15px;
                color: #A22324;
                margin: 0;
                
            }
            &__menu {
                margin-right: 0;
                ul {
                    display: flex;
                    justify-content: space-between;
                }
                &_top {
                    padding-right: 0;
                }
            }
            &__elements {
                width: 300px;
                justify-content: space-between;
            }
            &__poisk {
                margin-right: 0;
            }
            &__glasses {
                margin-right: 0;
            }
            &__language {
                .link {
                    top: 35px;
                }
                .block.active {
                    top: 35px;
                } 
            }
            .hamburger {
                right: -5px;
            }
        }

        #slider_bl {
            .articleFon-squareCorner {
                width: 779px;
                height: 470px;
                top: 155px;
                .articleFon-title {
                    font-size: 100px;
                    line-height: 80px;
                    margin-top: 60px;
                    margin-left: 50px;
                    span {
                        font-size: 60px;
                    }
                }
                .articleFon-descr {
                    width: 534px;
                    height: 242px;
                    font-size: 25px;
                    margin-left: 50px;
                    
                }
                .articleFon-img {
                    top: 56px;
                    right: 40px;
                }
            }
            .articleFon-rightArrow {
                margin-top: 273px;
                width: 819px;
                height: 640px;
                top: -2em;
                left: -85em;
                .articleFon-title {
                    font-size: 100px;
                    span {
                        font-size: 70px;
                    }
                }
                .articleFon-descr {
                    font-size: 22px;
                    margin-left: 50px;
                }

            }
        }
    }
    
}


@media (max-width:1400px) {
    .promo {
        .header {
            &__logo-img {
                width: 50%;
                height: 50%;
            }
            &__logo-text {
                padding-left: 10px;
            }
            &__menu {
                width: 600px;
            }
            &__elements {
                width: 240px;
                .hamburger {
                    right: -0px;
                }
            }
            &__poisk {
                width: 40px;
                height: 40px;
                margin-right: 0px;
                &:hover {
                    &::before {
                        content: '';
                        width: 40px;
                        height: 40px;
                    }
                }
                img {
                    padding: 5px;
                    width: 40px;
                    height: 40px;
                }
            }
            &__glasses {
                width: 40px;
                height:40px;
                margin-right: 10px;
                &:hover {
                    &::before {
                        width: 40px;
                        height: 40px;
                    }
                }
                img {
                    width: 40px;
                    height: 40px;
                }
            }
        }
        
        #slider_bl {
            .articleFon-rightArrow {
                width: 779px;
                height: 609px;
                top: -2em;
                left: -60em;
                .articleFon-title {
                    font-size: 100px;
                    span {
                        font-size: 70px;
                    }
                }
                .articleFon-descr {
                    font-size: 22px;
                    margin-left: 30px;
                }

            }
        }
    }
}


@media (max-width:1400px) {
    .promo {
        .header {
            flex-direction: column;
            margin-top: 80px;
            &__logo-img {
                margin-bottom: 20px;
            }
            &__elements {
                width: 182px;
                .hamburger {
                    top: -215px;
                    right: -385px;
                }
            }
            &__language {
                top: -180px;
                left: 330px;
                .block.active {
                    top: 0;
                } 
                .link {
                    top: 0px;
                }
            }
        }
        
    }
}


@media (max-width:1200px){
    // .promo {
    //     &__elements {
    //         .hamburger {
    //             right: -385px;
    //         }
    //     }
        
    // }
}

@media (max-width:991px) {
    .promo {
        .header {
            max-height: 210px;
            &__elements {
                width: 182px;
                .hamburger {
                    right: -230px;
                }
            }
            &__language {
                top: -215px;
                left: -340px;
                .block.active {
                    left: 0;
                } 
                .link {
                    left: 0;
                }
            }
        }
        #slider_bl {
            .articleFon-squareCorner {
                width: 600px;
                height: 470px;
                top: 155px;
                .articleFon-title {
                    font-size: 70px;
                    line-height: 50px;
                    margin-top: 60px;
                    margin-left: 50px;
                    span {
                        font-size: 40px;
                    }
                }
                .articleFon-descr {
                    width: 534px;
                    height: 242px;
                    font-size: 25px;
                    margin-left: 50px;
                    
                }
                .articleFon-img {
                    top: 56px;
                    right: 40px;
                }
            }
            .articleFon-triangle {
                top: -53em;
                left: 1em;
            }
            .articleFon-rightArrow {
                width: 484px;
                height: 357px;
                top: 6em;
                left: -43em;
                .articleFon-title {
                    font-size: 50px;
                    margin-top: 69px;
                    margin-left: 19px;
                    font-size: 34px;
                    line-height: 55px;
                    span {
                        font-size: 40px;
                    }
                }
                .articleFon-descr {
                    width: 365px;
                    height: 93px;
                    font-size: 21px;
                    margin-left: 10px;
                }

            }
        }
    }
}


@media (max-width:767px) {
    .promo {
        .header {
            flex-wrap: wrap;
            max-height: 375px;
            margin: 0;
            &__logo {
                flex-direction: column;
                align-items: center;
                margin-top: 10%;
                width: 280px;
            }
            &__logo-img {
                width: 70%;
                height: 70%;
            }
            &__logo-text {
                text-align: center;
                padding: 0;
                font-size: 34px;
            }
            &__menu {
                
                width: 290px;
                &_top {
                    margin-top: 25em;
                }
                a {
                    text-shadow: #e0e0e0 1px 1px 0;
                    font-weight: 700;
                }
                ul{
                    flex-direction: column;
                    align-items: center;
                    font-size: 30px;
                }
                &_top {
                    a {
                        font-size: 25px;
                    }
                }
            }
            &__elements {
                flex-direction: column;
                position: relative;
                top: 25px;
                left: -120px;
                margin-top: 25%;
                width: 90px;  
                .hamburger {
                    top: -22em;
                    right: -20px;
                }
            }
            &__poisk, &__glasses {
                position: relative;
                top: 16em;
                left: -23em;
            }
            &__language {
                top: -194px;
                left: -3em;
                font-size: 20px;
                .block {
                    left: 0;
                    top: -345px;
                }
                .block.active {
                    left: 0;
                    top: -40px;
                    &::before {
                        content: '';
                        height: 230px;
                    }
                } 
                .link {
                    left: 0;
                    top: -40px;
                }
            }
            
        }
        #slider_bl {
            .articleFon-squareCorner {
                display: none;
                
                
                .articleFon-img {
                    top: 56px;
                    right: 40px;
                }
            }
            .articleFon-star {
                display: none;
            }
            .articleFon-triangle {
                display: none;
            }
            .articleFon-rightArrow {
                display: none;
            }
        }

    }
}

@media (max-width:575px) {
    .promo {
        &__wrapper{
            padding: 0;
        }
        .header {
            flex-wrap: nowrap;
            max-height:775px;
            &__logo-img {
                width: 50%;
                height: 50%;
            }
            &__logo-text {
                font-size: 20px;
                display: none;
            }
            &__menu {
                &_top {
                    margin: 0;
                    display: none;
                }
            }
            &__poisk, &__glasses {
                display: none;
            }
            &__language {
                top: -330px;
                left: -52px;
            }
            &__elements {
                flex-direction: row;
                margin-top: 0;
                margin-left: 100px;
                height: 1px;
                width: 1px;
                .hamburger {
                    top: -26em;
                    right: -118px;
                }

            }
        }
        #slider_bl {
            .slider-dot-control {
                position: absolute;
                align-items: center;
                bottom: 0;
                left: 35px;
                margin-right: 0;
                margin-bottom: 22px;
            }
            .slider-prev-next-control {
                height: 50px;
                position: absolute;
                top: 81%;
                width: 10rem;
                right: -16px;
                margin-right: 100px;
                display: none;
            }
        }
    }
}