@media (max-width:1900px) {
    .promo {
        .header {
            
            margin-top: 30px;
            width: 100%;
            justify-content: space-around;
            z-index: 2;
            &__logo {
                margin-right: 0;
                padding: 5px;
            }
            &__logo-img {
                width: 100%;
                height: 100%;
                margin-right: 0;
            }
            &__logo-text {
                width: 100%;
                height: 100%;
                font-size: 15px;
                color: #A22324;
                margin: 0;
                
            }
            &__menu {
                margin-right: 0;
                ul {
                    display: flex;
                    justify-content: space-between;
                }
                &_top {
                    padding-right: 0;
                }
            }
            &__elements {
                width: 300px;
                justify-content: space-between;
            }
            &__poisk {
                margin-right: 0;
            }
            &__glasses {
                margin-right: 0;
            }
            &__language {
                .link {
                    top: 35px;
                }
                .block.active {
                    top: 35px;
                } 
            }
            .hamburger {
                right: -5px;
            }
        }

        #slider_bl {
            .articleFon-squareCorner {
                width: 779px;
                height: 470px;
                top: 155px;
                .articleFon-title {
                    font-size: 100px;
                    line-height: 80px;
                    margin-top: 60px;
                    margin-left: 50px;
                    span {
                        font-size: 60px;
                    }
                }
                .articleFon-descr {
                    width: 534px;
                    height: 242px;
                    font-size: 25px;
                    margin-left: 50px;
                    
                }
                .articleFon-img {
                    top: 56px;
                    right: 40px;
                }
            }
            .articleFon-rightArrow {
                margin-top: 273px;
                width: 819px;
                height: 640px;
                top: -2em;
                left: -85em;
                .articleFon-title {
                    font-size: 100px;
                    span {
                        font-size: 70px;
                    }
                }
                .articleFon-descr {
                    font-size: 22px;
                    margin-left: 50px;
                }

            }
        }
    }
    .product {
        &__title {
            font-size: 25px;
        }
        #sugar {
            .divAnimRow {
                top: 29em;
                width: 340px;
                left: 1em;
                height: 340px;
            }
        }
        #fruit {
            .divAnimCircl {
                width: 600px;
                height: 600px;
                top: 21em;
            }
        }
        #juice {
            .divAnimsquare {
                width: 590px;
                height: 400px;
                top: 24em;
            }
        }
        #vegetables {
            .divAnimellipse {
                top: 8em;
                left: 3em;
            }
        }
    }
    
}
@media (max-width:1600px) {
    .news {
        &__wrapper {
            .container {
                width: 1200px;
            }
        }
        &__image {
            width: 550px;
        }
        &__slaider {
            width: 550px;
        }
    }
}

@media (max-width:1400px) {
    .promo {
        .header {
            &__logo-img {
                width: 50%;
                height: 50%;
            }
            &__logo-text {
                padding-left: 10px;
            }
            &__menu {
                width: 600px;
            }
            &__elements {
                width: 240px;
                .hamburger {
                    right: -0px;
                }
            }
            &__poisk {
                width: 40px;
                height: 40px;
                margin-right: 0px;
                &:hover {
                    &::before {
                        content: '';
                        width: 40px;
                        height: 40px;
                    }
                }
                img {
                    padding: 5px;
                    width: 40px;
                    height: 40px;
                }
            }
            &__glasses {
                width: 40px;
                height:40px;
                margin-right: 10px;
                &:hover {
                    &::before {
                        width: 40px;
                        height: 40px;
                    }
                }
                img {
                    width: 40px;
                    height: 40px;
                }
            }
        }
        
        #slider_bl {
            .articleFon-rightArrow {
                width: 779px;
                height: 609px;
                top: -2em;
                left: -60em;
                .articleFon-title {
                    font-size: 100px;
                    span {
                        font-size: 70px;
                    }
                }
                .articleFon-descr {
                    font-size: 22px;
                    margin-left: 30px;
                }

            }
        }
    }
    .product {
        &__item {
            padding-left: 15px;
        }
        &__title {
            font-size: 25px;
        }
        #sugar {
            .divAnimRow {
                top: 29em;
                width: 340px;
                left: 1em;
                height: 340px;
            }
        }
        #fruit {
            .divAnimCircl {
                width: 600px;
                height: 600px;
                top: 21em;
            }
        }
        #juice {
            .divAnimsquare {
                width: 590px;
                height: 400px;
                top: 24em;
            }
        }
        #vegetables {
            .divAnimellipse {
                top: 8em;
                left: 3em;
            }
        }
        
    }
    .news {
        &__wrapper {
            .container {
                width: 1060px;
            }
        }
        &__image {
            width: 520px;
        }
        &__slaider {
            width: 520px;
            #left-side {
                width: 30%;
            }
        }
    }
}


@media (max-width:1400px) {
    .promo {
        .header {
            flex-direction: column;
            margin-top: 80px;
            &__logo-img {
                margin-bottom: 20px;
            }
            &__elements {
                width: 182px;
                .hamburger {
                    top: -215px;
                    right: -385px;
                }
            }
            &__language {
                top: -180px;
                left: 330px;
                .block.active {
                    top: 0;
                } 
                .link {
                    top: 0px;
                }
            }
        }
        
    }
    .product {
        &__item {
            padding-left: 10px;
        }
    }
    .partner {
        &__explanation {
            padding: 42px 0 0 56px;
            width: 464px;
            height: 247px;
        }
    }

}


@media (max-width:1200px){
    .product {
        &__item {
            padding-left: 5px;
        }
        &__title {
            font-size: 20px;
        }
        #sugar {
            .divAnimRow {
                top: 29em;
                width: 340px;
                left: 1em;
                height: 340px;
            }
        }
        #fruit {
            .divAnimCircl {
                width: 600px;
                height: 600px;
                top: 21em;
            }
        }
        #juice {
            .divAnimsquare {
                width: 590px;
                height: 400px;
                top: 24em;
            }
        }
        #vegetables {
            .divAnimellipse {
                top: 8em;
                left: 3em;
            }
        }
        
    }
    .news {
        &__wrapper {
            .container {
                width: 790px;
                flex-direction: column;
            }
        }
        &__image {
            width: 100%;
        }
        &__slaider {
            width: 100%;
            #left-side {
                width: 30%;
            }
        }
    }
    .partner {
        &__advantagesList {
            padding: 66px 0 0 45px;
            width: 445px;
            &::before {
                width: 500px;
                height: 600px;
            }
            .advantagesList-punct {
                a {
                    &:before {
                        content: '';
                        left: 21px;
                    }
                }
                &::after {
                    content: '';
                    left: -139px;
                }
                &:hover {
                    &::before {
                        content: '';
                        left: 15px;
                    }
                }
            }
        }
    }
}

@media (max-width:991px) {
    .promo {
        .header {
            max-height: 210px;
            &__elements {
                width: 182px;
                .hamburger {
                    right: -230px;
                }
            }
            &__language {
                top: -215px;
                left: -340px;
                .block.active {
                    left: 0;
                } 
                .link {
                    left: 0;
                }
            }
        }
        #slider_bl {
            .articleFon-squareCorner {
                width: 600px;
                height: 470px;
                top: 155px;
                .articleFon-title {
                    font-size: 70px;
                    line-height: 50px;
                    margin-top: 60px;
                    margin-left: 50px;
                    span {
                        font-size: 40px;
                    }
                }
                .articleFon-descr {
                    width: 534px;
                    height: 242px;
                    font-size: 25px;
                    margin-left: 50px;
                    
                }
                .articleFon-img {
                    top: 56px;
                    right: 40px;
                }
            }
            .articleFon-triangle {
                top: -53em;
                left: 1em;
            }
            .articleFon-rightArrow {
                width: 484px;
                height: 357px;
                top: 6em;
                left: -43em;
                .articleFon-title {
                    font-size: 50px;
                    margin-top: 69px;
                    margin-left: 19px;
                    font-size: 34px;
                    line-height: 55px;
                    span {
                        font-size: 40px;
                    }
                }
                .articleFon-descr {
                    width: 365px;
                    height: 93px;
                    font-size: 21px;
                    margin-left: 10px;
                }

            }
        }
    }
    .product {
        &__wrapper {
            height: auto;
        }
        &__logo {
            left: 300px;
        }
        &__items {
            flex-direction: column;
            
        }
        &__item {
            padding: 0;
            padding-left: 5em;
            padding-top: 1em;
            height: 13em;
        }
        &__title {
            height:60px;
        }
    }
    .news {
        &__wrapper {
            .container {
                width: 540px;
            }
        }
        &__image {
            margin: 50px 0 50px 0;
        }
        &__slaider {
            min-height: 470px;
            margin: 0 0 50px 0;
        }
    }
    .partner {
        &__wrapper {
            .title {
                font-size: 70px;
                &::before {
                    top: 22px;
                }
            }
        }
        &__advantagesList {
            padding: 66px 0 0 65px;
            width: 300px;
            &::before {
                width: 500px;
            height: 600px;
            }
            .advantagesList-punct {
                a {
                    &:before {
                        content: '';
                        left: 21px;
                    }
                }
                &::after {
                    content: '';
                    left: -139px;
                    display: none;
                }
                &:hover {
                    &::before {
                        content: '';
                        left: 15px;
                    }
                }
            }
        }
        &__explanation {
            padding: 78px 0 0 24px;
            width: 365px;
            height: 330px;
        }
        &__title {
            font-size: 27px;
        }
        &__subtitle {
            font-size: 23px;
            span {
                font-size: 60px;
                margin-right: 10px;
            }
        }
        
    }
}


@media (max-width:767px) {
    .promo {
        .header {
            flex-wrap: wrap;
            max-height: 375px;
            margin: 0;
            &__logo {
                flex-direction: column;
                align-items: center;
                margin-top: 10%;
                width: 280px;
            }
            &__logo-img {
                width: 70%;
                height: 70%;
            }
            &__logo-text {
                text-align: center;
                padding: 0;
                font-size: 34px;
            }
            &__menu {
                
                width: 290px;
                &_top {
                    margin-top: 25em;
                }
                a {
                    text-shadow: #e0e0e0 1px 1px 0;
                    font-weight: 700;
                }
                ul{
                    flex-direction: column;
                    align-items: center;
                    font-size: 30px;
                }
                &_top {
                    a {
                        font-size: 25px;
                    }
                }
            }
            &__elements {
                flex-direction: column;
                position: relative;
                top: 25px;
                left: -120px;
                margin-top: 25%;
                width: 90px;  
                .hamburger {
                    top: -22em;
                    right: -20px;
                }
            }
            &__poisk, &__glasses {
                position: relative;
                top: 16em;
                left: -23em;
            }
            &__language {
                top: -194px;
                left: -3em;
                font-size: 20px;
                .block {
                    left: 0;
                    top: -345px;
                }
                .block.active {
                    left: 0;
                    top: -40px;
                    &::before {
                        content: '';
                        height: 230px;
                    }
                } 
                .link {
                    left: 0;
                    top: -40px;
                }
            }
            
        }
        #slider_bl {
            .articleFon-squareCorner {
                display: none;
                
                
                .articleFon-img {
                    top: 56px;
                    right: 40px;
                }
            }
            .articleFon-star {
                display: none;
            }
            .articleFon-triangle {
                display: none;
            }
            .articleFon-rightArrow {
                display: none;
            }
        }
    }
    .news {
        &__wrapper {
            .container {
                width: 530px;
            }
        }
        &__textBlock {
            padding: 0 15px;
        }
        &__title {
            margin-left: 40px;
        }
        &__image {
            margin: 50px 0 50px 0;
        }
        &__slaider {
            min-height: 470px;
            margin: 0 0 50px 0;
        }
    }
    .partner {
        &__wrapper {
            .title {
                font-size: 60px;
                &::before {
                    top: 16px;
                }
            }
        }
        &__blockDescr {
            flex-direction: column;
        }
        &__advantagesImg {
            display: none;
        }
        &__advantagesList {
            padding: 56px 0 0 140px;
            width: 500px;
            &::before {
                width: 900px;
                height: 600px;
            }
            .advantagesList-punct {
                a {
                    &:before {
                        content: '';
                        left: 81px;
                    }
                }
                &:hover {
                    &::before {
                        content: '';
                        left: 80px;
                    }
                }
            }
        }
    }
}

@media (max-width:575px) {
    .promo {
        &__wrapper{
            padding: 0;
        }
        .header {
            flex-wrap: nowrap;
            max-height:775px;
            &__logo-img {
                width: 50%;
                height: 50%;
            }
            &__logo-text {
                font-size: 20px;
                display: none;
            }
            &__menu {
                &_top {
                    margin: 0;
                    display: none;
                }
            }
            &__poisk, &__glasses {
                display: none;
            }
            &__language {
                top: -330px;
                left: -52px;
            }
            &__elements {
                flex-direction: row;
                margin-top: 0;
                margin-left: 100px;
                height: 1px;
                width: 1px;
                .hamburger {
                    top: -26em;
                    right: -118px;
                }

            }
        }
        #slider_bl {
            .slider-dot-control {
                position: absolute;
                align-items: center;
                bottom: 0;
                left: 35px;
                margin-right: 0;
                margin-bottom: 22px;
            }
            .slider-prev-next-control {
                height: 50px;
                position: absolute;
                top: 81%;
                width: 10rem;
                right: -16px;
                margin-right: 100px;
                display: none;
            }
        }
    }
    .product {
        &__logo {
            display: none;
        }
    }
    .news {
        &__wrapper {
            .container {
                width: 300px;
            }
        }
        &__textBlock {
            padding: 0 5px;
        }
        .title {
            font-size: 50px;
            &::before {
                content: '';
                top: 8px;
            }
        }
        &__subtitle {
            font-size: 20px;
        }
        &__image {
            img {
                object-fit: contain;
            }
        }
        #less {
            display: block;
        }
        #more {
            display: none;
        }
        .big {
            width: 178px;
            height: 178px;
        
        }
    }
    .partner {
        &__wrapper {
            .title {
                font-size: 30px;
                margin-left: 60px;
                &::before {
                    top: -10px;
                    left: -50px;
                }
            }
        }
        &__advantagesInfoWrapp {
            margin-left: 37px;
        }
        &__advantagesList {
            padding: 39px 0 0 70px;
            width: 280px;
            .advantagesList-punct {
                a {
                    &:before {
                        content: '';
                        left: 30px;
                    }
                }
                &:hover {
                    &::before {
                        content: '';
                        left: 26px;
                    }
                }
            }
        }
        &__items {
            margin-top: 45px;
            flex-direction: column;
            margin-bottom: 20px;
        }
        &__awards {
            margin-right: 0px;
            margin-bottom: 20px;
        }
    }
}