.promo {
    position: relative;
    &__header {
        width: 100%;
        position: relative;
    }
    .header {
        position: absolute;
        max-height: 133px;
        margin-top: 30px;
        display: flex;
        align-items: center;
        z-index: 2;
        &__logo {
            display: flex;
            align-items: center;
            margin-right: 115px;
        }
        &__logo-img {
            width: 160px;
            height: 133px;
            margin-right: 19px;
        }
        &__logo-text {
            width: 167px;
            height: 87px;
            font-size: 24px;
            color: #A22324;
            margin: 0;
            
        }
        &__menu {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 800px;
            margin-right: 160px;
            ul {
                display: flex;
                justify-content: space-between;
                list-style-type: none;
                a {
                    text-decoration: none;
                }
            }
            &_top {
                justify-content: space-between;
                padding-right: 60px;
                // display: none;
                a {
                    position: relative;
                    font-size: 18px;
                    color: #000000;
                    &:hover {
                        color: #991426;
                        border-bottom:1px solid #991426;
                    }
                }
            }
            &_bottom {
                position: relative;
                font-weight: bold;
                line-height: 60px;
                a {
                    position: relative;
                    display: block;
                    color: #010101;
                    text-decoration: none;
                }
            } 
        }
        &__menu-list {
            position: relative;
            z-index: 1;
            &:nth-child(1) {
                &:hover {
                    &::before {
                        content: '';
                        position: absolute;
                        z-index: 0;
                        top: 10px;
                        left: 40px;
                        width: 40px;
                        height: 40px;
                        border: 1px solid #A22324;
                        transform: rotate(-45deg);
                    }
                }
            }
            &:nth-child(2) {
                &:hover {
                    &::before {
                        content: '';
                        position: absolute;
                        z-index: 0;
                        top: 10px;
                        left: 20px;
                        width: 40px;
                        height: 40px;
                        border: 1px solid #A22324;
                        transform: rotate(-45deg);
                    }
                }
            }
            &:nth-child(3) {
                &:hover {
                    &::before {
                        content: '';
                        position: absolute;
                        z-index: 0;
                        top: 10px;
                        left: 25px;
                        width: 40px;
                        height: 40px;
                        border: 1px solid #A22324;
                        transform: rotate(-45deg);
                    }
                }
            }
            &:nth-child(4) {
                &:hover {
                    &::before {
                        content: '';
                        position: absolute;
                        z-index: 0;
                        top: 10px;
                        left: 18px;
                        width: 40px;
                        height: 40px;
                        border: 1px solid #A22324;
                        transform: rotate(-45deg);
                    }
                }
            }
            
        }
        &__elements {
            display: flex;
            position: relative;
            align-items: center;
        }
        &__poisk {
            position: relative;
            width: 60px;
            height: 60px;
            margin-right: 45px;
            &:hover {
                &::before {
                    content: '';
                    position: absolute;
                    z-index: 0;
                    top: 0;
                    left: 0;
                    width: 60px;
                    height: 60px;
                    border: 1px solid #A22324;
                    transform: rotate(-45deg);
                }
            }
            img {
                position: absolute;
                padding: 15px;
                top: 0;
                left: 0;
                width: 60px;
                height: 60px;
            }
        }
        &__glasses {
            position: relative;
            padding: 15px;
            width: 60px;
            height:60px;
            margin-right: 45px;
            &:hover {
                &::before {
                    content: '';
                    position: absolute;
                    z-index: 0;
                    top: 0;
                    left: 0;
                    width: 60px;
                    height: 60px;
                    border: 1px solid #A22324;
                    transform: rotate(-45deg);
                }
            }
            img {
                position: absolute;
                padding: 0px;
                top: 0;
                left: 0;
                width: 60px;
                height: 60px;
            }
        }
        &__language {
            position: relative;
            li {
                list-style-type: none;
            }
            .block{
                position: relative;
                left: 0px;
                top: -180px;
                transition: .5s;
                z-index: 10;
                a {
                    text-decoration: none;
                    color: #000000;
                }
                &::before {
                    content: '';
                    position: absolute;
                    z-index: -1;
                    width: 60px;
                    height: 210px;
                    top: -100px;
                    left: -18px;
                    background: #fff;
                }
            }
            .block.active {
                position: relative;
                left: 0px;
                top: 45px;
                z-index: 6;
            }
            .link {
                display: block;
                position: absolute;
                text-decoration: none;
                color: #000000;
                font-weight: 700;
                top: 45px;
                z-index: 9;
            } 
        }
        &__lang {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            position: absolute;
            
            width: 50px;
            height: 120px;
            background:#fff;
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            -ms-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
        }
    }
    .github-corner {
        position: absolute;
        
        top: -40px;
        left: 482px;
    }
}