.promo {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        background: #fff;
        width: 100%;
        height: 100%;
        opacity: 0.4;
    }
    &__wrapper {
        padding: 30px 0 0 50px;
        background: url(../img/bg.jpg) no-repeat ;
        background-size: cover;
        background-size: cover;
        height: 100vh;
    }
    &__header {
        width: 100%;
    }
    .header {
        position: relative;
        max-height: 133px;
        display: flex;
        align-items: center;
        z-index: 2;
        &__logo {
            display: flex;
            align-items: center;
            margin-right: 115px;
        }
        &__logo-img {
            width: 157px;
            height: 133px;
            margin-right: 19px;
        }
        &__logo-text {
            width: 167px;
            height: 87px;
            font-size: 24px;
            color: #A22324;
            margin: 0;
            
        }
        &__menu {
            display: flex;
            flex-direction: column;
            width: 800px;
            margin-right: 160px;
            ul {
                display: flex;
                justify-content: space-between;
                list-style-type: none;
                a {
                    text-decoration: none;
                }
            }
            &_top {
                justify-content: space-between;
                padding-right: 60px;
                // display: none;
                a {
                    font-size: 18px;
                    color: #000000;
                    &:hover {
                        color: #991426;
                        border-bottom:1px solid #991426;
                    }
                }
            }
            &_bottom {
                position: relative;
                a {
                    font-size: 22px;
                    color: #000000;
                    font-weight: bold;
                    &:hover {
                        &::before {
                            content: '';
                            position: absolute;
                            width: 50px;
                            height: 50px;
                            border:1px solid #CA0025;
                            transform: rotate(45deg);
                        }
                    }
                }
                
            }
        }
        &__elements {
            display: flex;
            position: relative;
            align-items: center;
        }
        &__poisk {
            padding: 25px;
            width: 80px;
            height: 80px;
            margin-right: 7px;
            // a {
            //     &:hover {
            //         &::before {
            //             content: '';
            //             position: absolute;
            //             width: 60px;
            //             height: 60px;
            //             border:1px solid #CA0025;
            //             transform: rotate(45deg);
            //             left: 10%;
            //             top: 23%;
                        
            //         }
            //     }
            // }
        }
        &__glasses {

            padding: 15px;
            width: 80px;
            height:80px;
            
        }
        &__language {
            
            li {
                list-style-type: none;
            }
        }
        
    }
    &__text {
        position: absolute;
        font-size: 100px;
        margin: 0;
        margin-left: 200px;
        margin-top: 60px;

    }
    &__footer {
        position: absolute;
        bottom: 0;
        width: 1541px;
        height: 99px;
        background: rgba(255, 255, 255, 0.7);
        display: flex;
        padding-left: 50px;
    }
    &__catalog {
        display: flex;
        align-items: center;
        list-style-type: none;
        margin: 0;
        li {
            margin-right: 50px;
            }
        a {
            color: #000000;
            text-decoration: none;
            font-size: 14px;
            font-weight: bold;
            text-transform:uppercase;
            // &:nth-child(1) {
            //     color: #991426;
            // }
            // &:hover {
            //     color: #991426;
            // }
        }
        .red a {
            color: #991426;
            &::after {
                content: '';
                position: absolute;
                width: 5px;
                height: 5px;
                background:black;
                top: 47px;
                left: 140px;
                transform: rotate(45deg);
            }
        }
    }
}