.promo {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        background: #fff;
        width: 100%;
        height: 100%;
        opacity: 0.4;
    }
    &__wrapper {
        padding: 30px 0 0 50px;
        background: url(../img/bg.jpg) no-repeat ;
        background-size: cover;
        background-size: cover;
        height: 100vh;
    }
    &__header {
        width: 100%;
    }
    .header {
        position: relative;
        max-height: 133px;
        display: flex;
        align-items: center;
        z-index: 2;
        &__logo {
            display: flex;
            align-items: center;
            margin-right: 115px;
        }
        &__logo-img {
            width: 157px;
            height: 133px;
            margin-right: 19px;
        }
        &__logo-text {
            width: 167px;
            height: 87px;
            font-size: 24px;
            color: #A22324;
            margin: 0;
            
        }
        &__menu {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 800px;
            margin-right: 160px;
            ul {
                display: flex;
                justify-content: space-between;
                list-style-type: none;
                a {
                    text-decoration: none;
                }
            }
            &_top {
                justify-content: space-between;
                padding-right: 60px;
                // display: none;
                a {
                    position: relative;
                    font-size: 18px;
                    color: #000000;
                    &:hover {
                        color: #991426;
                        border-bottom:1px solid #991426;
                    }
                }
            }
            &_bottom {
                position: relative;
                font-weight: bold;
                line-height: 60px;
                a {
                    position: relative;
                    display: block;
                    color: #010101;
                    text-decoration: none;
                }
            } 
        }
        &__menu-list {
            position: relative;
            z-index: 1;
            &:nth-child(1) {
                &:hover {
                    &::before {
                        content: '';
                        position: absolute;
                        z-index: 0;
                        top: 10px;
                        left: 40px;
                        width: 40px;
                        height: 40px;
                        border: 1px solid #A22324;
                        transform: rotate(-45deg);
                    }
                }
            }
            &:nth-child(2) {
                &:hover {
                    &::before {
                        content: '';
                        position: absolute;
                        z-index: 0;
                        top: 10px;
                        left: 20px;
                        width: 40px;
                        height: 40px;
                        border: 1px solid #A22324;
                        transform: rotate(-45deg);
                    }
                }
            }
            &:nth-child(3) {
                &:hover {
                    &::before {
                        content: '';
                        position: absolute;
                        z-index: 0;
                        top: 10px;
                        left: 25px;
                        width: 40px;
                        height: 40px;
                        border: 1px solid #A22324;
                        transform: rotate(-45deg);
                    }
                }
            }
            &:nth-child(4) {
                &:hover {
                    &::before {
                        content: '';
                        position: absolute;
                        z-index: 0;
                        top: 10px;
                        left: 18px;
                        width: 40px;
                        height: 40px;
                        border: 1px solid #A22324;
                        transform: rotate(-45deg);
                    }
                }
            }
            
        }
        &__elements {
            display: flex;
            position: relative;
            align-items: center;
        }
        &__poisk {
            position: relative;
            width: 60px;
            height: 60px;
            margin-right: 10px;
            &:hover {
                &::before {
                    content: '';
                    position: absolute;
                    z-index: 0;
                    top: 0;
                    left: 0;
                    width: 60px;
                    height: 60px;
                    border: 1px solid #A22324;
                    transform: rotate(-45deg);
                }
            }
            img {
                position: absolute;
                padding: 15px;
                top: 0;
                left: 0;
                width: 60px;
                height: 60px;
            }
        }
        &__glasses {
            position: relative;
            padding: 15px;
            width: 60px;
            height:60px;
            margin-right: 32px;
            &:hover {
                &::before {
                    content: '';
                    position: absolute;
                    z-index: 0;
                    top: 0;
                    left: 0;
                    width: 60px;
                    height: 60px;
                    border: 1px solid #A22324;
                    transform: rotate(-45deg);
                }
            }
            img {
                position: absolute;
                padding: 0px;
                top: 0;
                left: 0;
                width: 60px;
                height: 60px;
            }
        }
        &__language {

            li {
                list-style-type: none;
            }
        }
        
    }
    &__text {
        position: absolute;
        font-size: 100px;
        margin: 0;
        margin-left: 200px;
        margin-top: 60px;

    }
    &__footer {
        position: absolute;
        bottom: 0;
        width: 1541px;
        height: 99px;
        background: rgba(255, 255, 255, 0.7);
        display: flex;
        padding-left: 50px;
    }
    &__catalog {
        display: flex;
        align-items: center;
        list-style-type: none;
        margin: 0;
        li {
            margin-right: 50px;
            }
        a {
            color: #000000;
            text-decoration: none;
            font-size: 14px;
            font-weight: bold;
            text-transform:uppercase;
            // &:nth-child(1) {
            //     color: #991426;
            // }
            // &:hover {
            //     color: #991426;
            // }
        }
        .red a {
            color: #991426;
            &::after {
                content: '';
                position: absolute;
                width: 5px;
                height: 5px;
                background:black;
                top: 47px;
                left: 140px;
                transform: rotate(45deg);
            }
        }
    }
}